<html>

<head></head>

<body>
    <div>
        <form method="POST" action="/search">
            <input type="text" name="keyword" placeholder="Search for Recipes">
            <input type="submit" value="Search">
        </form>
    </div>
    <div>
        <div>
            <h1>{{recipeDetails.label}}</h1>
        </div>

        <div>
            Source: <a href="{{ recipeDetails.url }}" target="_blank">{{ recipeDetails.source }}</a>
        </div>

        <div>
            <a><img src="{{ recipeDetails.image }}" /></a>
        </div>
    </div>
    <br />
    <br />


    <form action="{{ url_for('recommendations') }}" method="POST" onsubmit="submitForm();">
        <label for="categories">Browse Similar Recipes based on:</label>
        <select id="categories">
            <option value="{{mealReco}}">Meal</option>
            <option value="{{cuisineReco}}">Cuisine</option>
            <option value="{{ingReco}}">Ingredient</option>
            <option value="{{ingcatReco}}">Ingredient Category</option>
            <option value="{{healthReco}}">Health</option>
        </select>
        <input type="hidden" name="keyword" id="keyword" value="">
        <input type="hidden" name="category" id="category" value="">
        <input type="hidden" name="original_label" value="{{recipeDetails.label}}">
        <input type="hidden" name="original_id" value="{{original_id}}">
        <input type="submit" value="Search">
    </form>




    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.visibility = 'hidden';
        }

        function submitForm() {
            let categories = document.getElementById("categories").value;
            switch (categories) {
                case "{{mealReco|safe}}":
                    document.getElementById("keyword").value = "{{ mealReco|safe }}";
                    document.getElementById("category").value = "Meal";
                    break;
                case "{{cuisineReco|safe}}":
                    document.getElementById("keyword").value = "{{ cuisineReco|safe }}";
                    document.getElementById("category").value = "Cuisine";
                    break;
                case "{{ingReco|safe}}":
                    document.getElementById("keyword").value = "{{ ingReco|safe }}";
                    document.getElementById("category").value = "Ingredient";
                    break;
                case "{{ingcatReco|safe}}":
                    document.getElementById("keyword").value = "{{ ingcatReco|safe }}";
                    document.getElementById("category").value = "Ingredient";
                    break;
                case "{{healthReco|safe}}":
                    document.getElementById("keyword").value = "{{ healthReco|safe }}";
                    document.getElementById("category").value = "Health";
                    break;
            }
            return true;
        }
    </script>

</body>

</html>