<html>

<head></head>

<body>
    <a href="{{ url_for('logout') }}">Log out</a>
    <a href="{{ url_for('index') }}">Main Page</a>

    <h1>Saved Dishes</h1>
    {% for i in range(len_recipes) %}
    <div>
        <div>
            <form action="{{ url_for('details') }}" method="POST">
                <input type="submit" value="{{ recipes[i].label }}"></input>
                <div id="id">
                    <input name="id" value="{{ recipes[i].recipe_id }}" readonly />
                </div>
            </form>
        </div>

        <div>
            Source: <a href="{{ recipes[i].url }}" target="_blank">{{recipes[i].url}}</a>
        </div>

        <div>
            <a><img src="{{ recipes[i].image }}" /></a>
        </div>
    </div>
    {% endfor%}

    <form method="POST">
        <div>
            <input type="submit" value="delete" name="delete" />
        </div>
    </form>

    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.display = 'none';
        }
    </script>
</body>

</html>